.jumbotron {
	background-color: #999; 
	 background-image: url(../img/hogwarts.jpg);
	 background-repeat: no-repeat; 
	 background-position: center top; 
	 min-height: 200px; 
	 color: #efefef;
	  text-shadow: 2px 2px #000;
	}
	
.playerName {
	min-height: 100px;
	
}